[{kernel,
  [{distributed, [{m8ball,
                   5000,
                  ['a@kasirajanss93-rails-tutorial-1565782', {'b@kasirajanss93-rails-tutorial-1565782', 'c@kasirajanss93-rails-tutorial-1565782'}]}]},
   {sync_nodes_mandatory, ['a@kasirajanss93-rails-tutorial-1565782', 'c@kasirajanss93-rails-tutorial-1565782']},
   {sync_nodes_timeout, 30000}
  ]
 }
].